:root {
    --blue: #5e72e4;
    --indigo: #5603ad;
    --purple: #8965e0;
    --pink: #f3a4b5;
    --red: #f5365c;
    --orange: #fb6340;
    --yellow: #ffd600;
    --green: #2dce89;
    --teal: #11cdef;
    --cyan: #2bffc6;
    --white: #fff;
    --gray: #8898aa;
    --gray-dark: #32325d;
    --light: #ced4da;
    --lighter: #e9ecef;
    --primary: #5e72e4;
    --secondary: #f7fafc;
    --success: #2dce89;
    --info: #11cdef;
    --warning: #fb6340;
    --danger: #f5365c;
    --light: #adb5bd;
    --dark: #212529;
    --default: #172b4d;
    --white: #fff;
    --neutral: #fff;
    --darker: black;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

@-ms-viewport {
    width: device-width;
}

main,
section {
    display: block;
}

body {
    font-family: Open Sans, sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    color: #525f7f;
    background-color: #f8f9fe;
}

hr {
    overflow: visible;
    box-sizing: content-box;
    height: 0;
}

h1,
h3,
h4,
h5,
h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

li {
    white-space: nowrap;
}

.App {
    text-align: center;
}

.contact-body {
    overflow: hidden;
}

.yes{we go}
.contact-header {
    position: fixed;
    text-align: center;
    z-index: 100;
    background-color: #ffffff;
    width: 100%;
    display: block;
}
.contact-form {
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    float: left;
    width: 60%;
    padding-top: 30px;
    margin-left: 28%;
    margin-right: 3%;
}

@media (max-width: 992px) {
    .contact-form {
        margin-left: 35%;
        margin-right: 3%;
        padding-left: 3rem;
    }
}

@media (max-width: 768px) {
    .contact-form {
 margin-left:0;
width:100%;
padding:0;

    }
}



@media (min-width: 992px) {
 .pl-lg-4 {
    padding-left: 0 !important;
}
}





.form-buttons {
    display: block;
    margin: 0 auto;
    margin-top: 1.5rem;
    width: 70%;
}

.contact-form::-webkit-scrollbar {
    display: none;
}

@media (max-width: 992px) {
    .contact-details {
        margin-top: 90px;
    }
@media (max-width: 768px) {
.contact-details {
      
 margin-top: 120px;
    }
}




 .div2 {
     padding-left: 3rem;
padding-right: 0;
    }
}
@media (max-width: 768px) {
    .div2 {
        padding-left: 0;
    }
}

.menu-containner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3rem !important;
    height: 3rem;
    position: fixed;
    width: 105%;
    background-color: lavender;
z-index: 1000;
}

@media (min-width: 992px) {
    .menu-containner {
        display: none;
    }
}

@media (min-width: 768px) {
    .menu-containner h6 {
        padding-top: 0 !important;
    }
}
.searchlist li {
    margin: 0 auto;
    border-radius: 10px !important;
    margin-top: 7px;
    box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
    user-select: none;
}

.searchlist {
    margin-top: 50px;
    padding: 0;
}

.searchlist li:hover {
    background-color: var(--info);
    transition: background 1s;
    color: #ffffff;
    cursor: pointer;
    margin-top: 15px;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(184, 226, 242, 1);
    -moz-box-shadow: 0px 0px 5px 5px rgba(184, 226, 242, 1);
    box-shadow: 0px 0px 5px 5px rgba(184, 226, 242, 1);
}



.all-contactheading {
    position: fixed;
    z-index: 20;
    width: 26%;
    height: 10%;
    background-color: lavender;
    box-shadow: 0 10px 7px rgba(0, 0, 0, 0.1);
    -webkit-box-shadow: 0 10px 7px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 10px 7px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: -25px;
}
@media (max-width: 992px) {
    .all-contactheading {
       width: 21.5rem;
  height: 10%;
margin-top: 30px;
left: 0;
background-color:#e6e6fa;
    }
}

@media (max-width: 768px) {
    .all-contactheading {
       width: 100%;
  height: 10%;
margin-top: 30px;
right: 0;
background-color:#f8f9fe;
margin-left: 1px;
    }
}

.all-contactheading span,
.recent-contact-heading span {
    width: 25px;
    height: auto;
    cursor: pointer;
    border-radius: 2px;
    border: 1px solid var(--light);
    box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}

.all-contactheading span {
    margin-top: 9px;
}

.search-bar {
    align-items: center;
}

@media (min-width: 992px) {
    .search-bar {
        display: none;
    }
}

.search-bar div {
    height: 50px;
}

.contact-container {
    display: flex;
    flex-flow: row nowrap;
    position: relative;
}

@media (max-width: 768px) {
    .contact-container {
        justify-content: center;
    }
}

.allcontacts {
  
    scrollbar-width: none;
    float: left;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    position: fixed;
    width: 25%;
    padding-right: 0.5%;
    padding-left: 10px;
}

@media (max-width: 992px) {
    .allcontacts {
        min-width: 300px;
    }
}

@media (max-width: 768px) {
    .allcontacts {
        width:100%;
        padding: 0 30px;
z-index: 400;
background-color:#f8f9fe;
    }
}


  .allcontacts-desktop{
     display:block;
    }
.allcontacts-mobile{
visibility: hidden;
}

@media (max-width: 992px) {
   .allcontacts-desktop{
     display: block;
    }
.allcontacts-mobile{
visibility: hidden;
}
}
@media (max-width: 768px) {
   .allcontacts-desktop{
     display: none;
    }
.allcontacts-mobile{
visibility: visible;
}
}




.optionsbar {
    float: right;
    flex-basis: 25%;
   
}



@media (max-width: 992px) {
    .optionsbar {
        display: none;
    }
}

.optionsbar button{
white-space: nowrap;


}


.allcontacts::-webkit-scrollbar {
    display: none;
}

.allcontacts ul {
    margin-top: 80px;
    padding: 0;
}

@media (max-width: 992px) {
    .allcontacts ul {
        margin-top: 6.5rem;
    }
}

.allcontacts li {
    border-radius: 10px;
    margin-top: 7px;
    box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
    user-select: none;
}

.allcontacts li:hover {
    background-color:var(--info);
    transition: background 1s;
    color: #ffffff;
    cursor: pointer;
    margin-top: 15px;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(184, 226, 242, 1);
    -moz-box-shadow: 0px 0px 5px 5px rgba(184, 226, 242, 1);
    box-shadow: 0px 0px 5px 5px rgba(184, 226, 242, 1);
}


.Searchbar {
  margin-right: 1rem;
    flex-basis: 60%;
}

.Searchbar input {
border-radius: 15px;

}

@media (max-width: 768px) {
    .Searchbar {
        display: none;
margin-right:0;
width: 10px;
    }

.Searchbar input {
border-radius: 15px;
width: 115%;
margin-left: -60px;
}

}



.menu-bar {
    display: flex;
width: 10px;
    align-items: center;
}
.menu-bar i {
cursor: pointer;

}
@media (min-width: 768px) {
    .menu-bar {
        margin-top: 0;
    }
}

.menu-bar :nth-child(2) {
color:#0eabf3;
}



.menu-off{
position: absolute;
height: 0vh;
background-color: lavender;
width: 0;
transition: width 0.6s;
overflow: hidden;
z-index: 450;
}

.menu-on{
position: absolute;
position: fixed;
height: 100%;
background-color:lavender;
width: 70%;
transition: width 0.6s;
overflow: hidden;
z-index: 450;
}
@media (min-width: 768px) {
    .menu-on{
   width: 40%;
    }
}
@media (min-width: 992px) {
    .menu-on{
        display: none;
    }
}


.backdrop{
position: absolute;
position: fixed;
height: 100%;
width:100%;
top:0;
z-index: -100;
}



.menu-options{
padding-top: 5rem;
display: flex;
flex-flow: column nowrap;


}


.search-icon {
    align-self: flex-end;
    display: flex;
    align-items: center;
    padding-bottom: 0.5rem;
cursor: pointer;
}

@media (min-width: 768px) {
    .search-icon {
        display: none;
    }
}


.desktop-searchbar{
padding: 0 1rem;
}
@media (max-width: 992px) {
    .desktop-searchbar {
        display: none;
padding: 0;
    }
}





@media (min-width: 992px) {
  .mobile-searchbar{
        display: none;
padding: 0;
padding: 0 1rem;
    }
}
@media (max-width: 768px) {
  .mobile-searchbar{
        margin-top: 4rem;
padding: 0 0.5rem;
    }
}

.sidebutton {
    width: 200px;
    height: 50px;
}

.contactimage {
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.displaylist {
    padding: 2px;
    display: flex;
    align-items: center;
}

.displaylist span,.displayEditlist span{
width: 5rem;
margin-left: -10px;
margin-right: 50px;

}


.displaylist:hover .searchimgframe {
    width: 10rem;
    height: 50px;
    display: block;
}

.mobile-searchbar .displaylist span{
margin-right: 4rem;
text-align: right;
}

.displayEditlist {
    padding: 2px;
    align-items: center;
}


.activethumbnail {
    background-color: sienna;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: inline-block;
    margin-right: 10%;
    position: absolute;
    top: -10px;
    left: -10px;
    border-top: 2px solid #50c1ee;
    border-left: 2px solid #50c1ee;
}

.thumbnail {
    background-color: sienna;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: inline-block;
    margin-right: 10%;
}

.allcontactbg {
    background-color: rgba(76, 153, 73, 0.918);
    -webkit-box-shadow: 0px 0px 0px 3px rgba(0, 185, 226, 1);
    -moz-box-shadow: 0px 0px 0px 3px rgba(0, 185, 226, 1);
    box-shadow: 0px 0px 0px 3px rgb(7, 171, 207, 1);
}



  .editcontacts ul,.deletecontacts ul{
        padding-left: 0 !important;
    }
@media (max-width: 992px) {
    .editcontacts,.deletecontacts ul {
        margin-top: 1.8rem;
    }
}


 


@media (max-width: 768px) {
   .editcontacts ul,.deletecontacts ul{
        padding-left: 0 !important;
padding-top: 30px;
    }
}


.deletecontacts ul li,
.editcontacts ul li {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-top: 7px;
    box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
}

.deletecontacts ul li input {
    margin-right: 10px;
    border-radius: 10px;
    width: 10px;
    height: auto;
}

.deletebutton {
    width: auto;
    height: auto;
    margin-right: -5%;
}

.btn-nfo {
    background-color: var(--teal);
}

.recent-contact-heading {
    display: flex;
    align-items: center;
    justify-content: space-around;
    box-shadow: 0 10px 7px rgba(0, 0, 0, 0.1)  ; 
	-webkit-box-shadow: 0 10px 7px rgba(0, 0, 0, 0.1)  ; 
	-moz-box-shadow: 0 10px 7px rgba(0, 0, 0, 0.1)  ; 
widows: 10rem;
}
@media (max-width: 992px) {
   .recent-contact-heading {
    padding-top: 25px;
 width: 33.2rem;
    }
}
@media (max-width: 768px) {
   .recent-contact-heading {
    padding-top: 5px;
width: 100%;

    }
}

.recent-contact-heading h5 {
    padding: 10px 0;
    white-space: nowrap;
    margin-right: 0.25rem;
}

.recentlyadded {
    height: 60vh;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}
@media (max-width: 992px) {
 .recentlyadded {
     height:100vh;
    }
}

.recentlyadded ul li {
    border-radius: 10px;
    margin-top: 7px;
    box-shadow: 0.25rem 0.25rem 0.6rem rgba(0, 0, 0, 0.05), 0 0.5rem 1.125rem rgba(75, 0, 0, 0.05);
    user-select: none;
}

.recentlyadded ul li:hover {
    background-color:var(--info);
    transition: background 0.5s;
    color: #ffffff;
    cursor: pointer;
    margin-top: 15px;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(184, 226, 242, 1);
    -moz-box-shadow: 0px 0px 5px 5px rgba(184, 226, 242, 1);
    box-shadow: 0px 0px 5px 5px rgba(184, 226, 242, 1);
}

.imgframei {
    width: 5rem;
    height: 50px;
    display: block;
}

.searchimgframe {
    display: block;
    width: 7rem;
    height: 50px;
}



.imgframe {
    display: block;
    width: 2rem;
    height: 50px;
}

.allcontacts li:hover .imgframe {
    width: 5rem;
    height: 50px;
    display: block;
}

.recentdivi {
    width: 4rem;
    height: 50px;
    display: block;
}

.recentdiv {
    display: block;
    width: 1rem;
    height: 50px;
}

.recentlyadded li:hover .recentdiv {
    width: 4rem;
    height: 50px;
    display: block;
}


.recentlyadded li:hover .thumbnail,
.searchlist li:hover .thumbnail,
.allcontacts li:hover .thumbnail {
    background-color: sienna;
    width: 50px;
    height: 50px;
    border-radius: 10px;
    display: inline-block;
    margin-right: 10%;
    position: absolute;
    top: -10px;
    left: -10px;
    border-top: 2px solid #50c1ee;
    border-left: 2px solid #50c1ee;
}

.recentlyadded ul {
    padding: 0 10px;
}

.addContact {
    text-align: left;
    font-weight: 400;
}

@media (max-width: 992px) {
    .addContact {
        padding-top: 4rem;
padding-left: 3rem;
    }
}
@media (max-width: 768px) {
    .addContact {
padding-left: 0;
    }
}

.addContact img {
    width: 30%;
    height: auto;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
    margin-bottom: 10px;
    display: block;
    margin: 0 auto;
}

.addContact input {
    box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
}

#img {
    display: block;
    margin: 0 auto;
}

.imgcontainner {
    position: relative;
    margin-bottom: 50px;
}

.heading-small {
    font-size: .75rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    letter-spacing: .04em;
    text-transform: uppercase;
}

.form-control-label {
    font-size: .875rem;
    font-weight: 600;
    color: #525f7f;
}

label {
    display: inline-block;
    margin-bottom: .5rem;
}

.card-profile-image img {
    position: absolute;
    left: 50%;
    max-width: 180px;
    transition: all .15s ease;
    transform: translate(-50%, -30%);
    border-radius: .375rem;
}

.shadow,
.card-profile-image img {
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15) !important;
}

.text-center {
    text-align: center !important;
}

.pb-md-4 {
    padding-bottom: 1.5rem !important;
}

.pt-md-4 {
    padding-top: 1.5rem !important;
}

.card-header {
    margin-bottom: 0;
    padding: 1.25rem 1.5rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    border-bottom: 1px solid rgba(0, 0, 0, .05);
    background-color: #fff;
}

.card-body {
    padding: 1.5rem;
    padding-top: 1.5rem;
    flex: 1 1 auto;
}

@media (max-width: 768px) {
 .card-body :nth-child(1){
margin-top: 10px;
}

}

.text-center {
    text-align: center !important;
}

.card {
    word-wrap: break-word;
}
