.App {
  text-align: center;
}

.contact-body{
height:100vh;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.contact-header{
position: fixed;
text-align: center;
z-index: 100;
background-color: #ffffff;
width: 100%;
visibility: hidden;
}

 .listdiv{
margin:0 auto;
}

ul{
padding:0;
}


.displaylist:hover {
background-color: rgba(76, 153, 73, 0.918);
  transition: background 1s;
  color: #ffffff;
  cursor: pointer;

}



.searchlist{

margin-top:50px;
padding:0;


}

.allcontacts{
scrollbar-width: none;
float: left;
height: 100vh;
overflow: hidden;
overflow-y: scroll;
position: fixed;
width:25%;
padding-top:80px;
}


.contact-form{
height: 150vh;
overflow: hidden;
overflow-y: scroll;
  scrollbar-width: none;
float: left;
width:80%;
padding-top:80px;
}
   
.align{
margin-left: 35%;
margin-right: 3%;
}


.optionbar{
padding-top:100px;
float:right;
width: 20%;

height: 100vh;

}

.contactimage{
width:70%;
height: auto;
display: block;
margin:0 auto
}
